extends layout

block content
  h1 #{title}: #{buzzword.name}
  p= buzzword.description

  if error
    p error
  
  p Do you really want to delete this buzzword?
    
    form(method='POST' action='')
      div.form-group
        input#buzzwordid.form-control(type='hidden',name='buzzwordid', required='true', value=buzzword._id )
        label(for="password") Password
        br
        input(type="password", name="password", required="true")

      br
      button.btn.btn-primary(type='submit') Delete